<!DOCTYPE html>
<!-- Derived from http://themes.trendywebstar.com/BusinessBox/ -->
<!--[if lt IE 9]>
<script type="text/javascript" src="/js/html5shiv.js"></script>
<![endif]-->
<head>
    <meta charset="utf-8">
    <title>BusinessBox - Responsive HTML5 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="images/favicon.gif"/>
    <link rel="stylesheet" href="/css/style.css" media="screen"/>
    <link rel="stylesheet" id="main-color" href="/css/colors/orange-color.css" media="screen"/>
    <link rel="stylesheet" href="/css/prettyPhoto.css" media="screen"/>
    <link rel="stylesheet" href="/css/font-awesome/font-awesome.min.css" media="screen"/>
    <link rel="stylesheet" href="/css/layer-slider.css" media="screen"/>
    <link rel="stylesheet" href="/css/flexslider.css" media="screen"/>
    <link rel="stylesheet" href="/css/fontello/fontello.css" media="screen"/>
    <link rel="stylesheet" href="/css/foundation.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>

    <!-- All JavaScript Files (Remove those you will not use)-->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- JQUERY JS FILE -->
    <script type="text/javascript" src="/js/flex-slider.min.js"></script>
    <!-- FLEX SLIDER JS FILE -->
    <script type="text/javascript" src="/js/navigation.min.js"></script>
    <!-- MAIN NAVIGATION JS FILE -->
    <script type="text/javascript" src="/js/jquery.layerslider.js"></script>
    <!-- LAYER SLIDER JS FILE -->
    <script type="text/javascript" src="/js/layerslider.transitions.js"></script>
    <!-- LAYER SLIDER TRANSITIONS JS FILE -->
    <script type="text/javascript" src="/js/map.min.js"></script>
    <!-- GOOGLE MAP JS FILE -->
    <script type="text/javascript" src="/js/jquery.theme.plugins.min.js"></script>
    <!-- TRANSITIONS JS FILE -->
    <script type="text/javascript" src="/js/jquery.jcarousel.min.js"></script>
    <!-- CAROUSEL SLIDER JS FILE -->
    <script type="text/javascript" src="/js/flickr.js"></script>
    <!-- FLICKR WIDGET JS FILE -->
    <script type="text/javascript" src="/js/instagram.js"></script>
    <!-- INSTAGRAM WIDGET JS FILE -->
    <script type="text/javascript" src="/js/jquery.twitter.js"></script>
    <!--TWITTER WIDGET JS FILE -->
    <script type="text/javascript" src="/js/prettyPhoto.min.js"></script>
    <!-- PRETTYPHOTO JS FILE -->
    <script type="text/javascript" src="/js/fitVids.js"></script>
    <!-- FIT VIDEOS JS FILE -->
    <script type="text/javascript" src="/js/isotope.min.js"></script>
    <!-- ISOTOPE JS FILE -->
    <script type="text/javascript" src="/js/custom.js"></script>
    <!-- CUSTOMN JAVASCRIPT JS FILE -->
    <!-- Style Switcher Files-->
    <script type="text/javascript" src="/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/js/styleswitch.js"></script>
    <script type="text/javascript" src="/js/colorpicker.js"></script>
    <script type="text/javascript" src="/js/switcher.js"></script>
    <link rel="stylesheet" href="css/style-switcher.css" media="screen"/>
    <link rel="stylesheet" href="css/colorpicker.css" media="screen"/>
    <script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
    <style type="text/css">
        .contact {
            font-family: "Open Sans",Arial,Verdana;
            font-weight: 400;
        }
        .contact span {
            color: #E33000;
            font-weight: 600;
        }
    </style>

</head>
<body>
<div id="container">
    <div id="wrapp">
        <header id="header">
            <div class="container2">
                <div id="header-top">
                    <div id="medium-20 columns">
                        <div class="row">
                            <div class="medium-8 columns left">
                                <a href="index.html" id="logo"><img src="/images/logo-ricston.png" width="150px" alt=""/></a>
                            </div>
                            <div class="medium-3 columns right contact">
                                <div class="row ">
                                    <div style="color: #898989">
                                        <a href="#"><i style="color: #898989" class="icon-social-twitter"></i></a>
                                        <a href="#"><i style="color: #898989" class="icon-social-linkedin"></i></a>
                                        <a href="#"><i style="color: #898989" class="icon-social-gplus"></i></a>
                                        <a href="#"><i style="color: #898989" class="icon-social-skype"></i></a>
                                        <a href="#"><i style="color: #898989" class="icon-social-dribbble"></i></a>
                                        <a href="#"><i style="color: #898989" class="icon-social-pinterest"></i></a>
                                    </div>
                                </div>
                                <div class="row">
                                    Contact Phone
                                </div>
                                <div class="row">
                                    UK: <span>+44 (0)20 719 351 07</span>
                                </div>
                                <div class="row">
                                    Malta: <span> +356 2133 4457</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="main-navigation" class="container" >
                    <div class="container">
                        <ul class="main-menu">
                            <li  {{ if eq .Url "/"}} class="active"{{end}}><a href="/index.html" title="Home">Home </a>
                                <ul>
                                    <li><a href="index.html">Layer Slider (Default)</a></li>
                                    <li><a href="flex-slider.html">Flex Slider</a></li>
                                    <li><a href="home-alternative.html">Home Alternative</a></li>
                                    <li><a href="home-alternative-2.html">Home Alternative 2</a></li>
                                    <li><a href="home-fixed-navigation.html">Home Fixed Navigation</a></li>
                                    <li><a href="#">Menu Second Level</a>
                                        <ul>
                                            <li><a href="#">Dummy Item</a></li>
                                            <li><a href="#">Dummy Item</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li {{ if eq .Url "/telecom/" }}class="active"{{end}}><a href="/industries">Industries</a>
                                 <ul>
                                    <li><a href="/industries/telecom"><i class="icon-user"></i>Telcom</a></li>
                                    <li><a href="/industries/media"><i class="icon-user"></i>Media</a></li>
                                     <li><a href="/industries/crm"><i class="icon-user"></i>CRM</a></li>
                                    <!--<li><a href="services.html"><i class="icon-wrench"></i>Our Services</a></li>-->
                                    <!--<li><a href="left-sidebar.html"><i class="icon-desktop"></i>Left Sidebar</a></li>-->
                                    <!--<li><a href="right-sidebar.html"><i class="icon-laptop"></i>Right Sidebar</a></li>-->
                                    <!--<li><a href="404-error.html"><i class="icon-medkit"></i>404 Error</a></li>-->
                                </ul>
                            </li>
                            <li {{ if eq .Url "/analytics/" }}class="active"{{end}}
                                {{ if eq .Url "/tech/" }}class="active"{{end}}
                                {{ if eq .Url "/techbigdata/" }}class="active"{{end}}
                                {{ if eq .Url "/techdevops/" }}class="active"{{end}}
                                {{ if eq .Url "/techopensource/" }}class="active"{{end}}
                            ><a href="/tech">Tech</a>
                                <ul>
                                    <li><a href="/analytics/">Analytics</a></li>
                                    <li><a href="/techbigdata/">Big Data</a></li>
                                    <li><a href="/techdevops/">Dev Ops</a></li>
                                    <li><a href="/techopensource/">Open Source</a></li>
                                </ul>

                            </li>
                            <li {{ if eq .Url "/integration/"}}class="active"{{end}}><a href="/integration">Integration</a></li>
                            <li {{ if eq .Url "/caseStudies/"}}class="active"{{end}}><a href="/caseStudies">Case Studies</a></li>
                            <li><a href="#">Blog</a>
                                <ul>
                                    <li><a href="blog.html">Blog Layout</a></li>
                                    <li><a href="blog-2.html">Blog Layout 2</a></li>
                                    <li><a href="blog-3.html">Blog Layout 3</a></li>
                                    <li><a href="blog-post.html">Blog Post</a></li>
                                </ul>
                            </li>
                            <li {{ if eq .Url "/contactUs/"}}class="active"{{end}}><a href="/contactUs">Contact Us</a></li>
                        </ul>
                        <nav class="top-search">
                            <form action="404-error.html" method="get">
                                <button class="search-btn"></button>
                                <input class="search-field" type="text" onblur="if(this.value=='')this.value='Search';" onfocus="if(this.value=='Search')this.value='';" value="Search"/>
                            </form>
                        </nav>
                    </div>
                </div>
        </header>
       <!--  <div class="row">
            "default -> current header" value2  {{ if eq .Title "Posts" }} set active {{end}}<br/>
            Node variables Section: {{ .Url }}
        </div> -->