{{ partial "default_head.html" . }}
		<div id="content">
			<div id="layerslider"><!--layer slider starts-->
				<div class="ls-layer" style="slidedirection: top; slidedelay: 8500;">
					<h1 class="ls-s3 large_heading_01" style="top: 50px; left: 70px; durationin : 1500; slidedirection: top; slideoutdirection : top; delayin : 1100; ">Deliving Services Globally</h1>
					<h2 class="ls-s3 large_heading_02" style="top: 90px; left: 70px; durationin : 1500; slidedirection: top; slideoutdirection : top; delayin : 800; ">Europe - Asia - US - Australia</h2>
					<h1 class="ls-s-2 ls_large_text_01" style="position: absolute; top:170px; left:70px; slidedirection : bottom; durationin : 1000; durationout : 1000; easingin : easeInOutBack; easingout : easeInOutQuint; delayin : 1000; delayout : 0; showuntil : 0;">
					Mule ESB Integration</h1>
					<h1 class="ls-s-2 ls_large_text_01" style="position: absolute; top:215px; left: 70px; slidedirection : bottom; durationin : 1300; durationout : 1300; easingin : easeInOutBack; easingout : easeInOutQuint; delayin : 1300; delayout : 0; showuntil : 0;">
					Big Data - Mongo - Hbase</h1>
					<h1 class="ls-s-2 ls_large_text_01" style="position: absolute; top:260px; left: 70px; slidedirection : bottom; durationin : 1500; durationout : 1500; easingin : easeInOutBack; easingout : easeInOutQuint; delayin : 1500; delayout : 0; showuntil : 0;">
					Rapid Web - Grails</h1>
					<h1 class="ls-s-2 ls_large_text_01" style="position: absolute; top:305px; left: 70px; slidedirection : bottom; durationin : 1800; durationout : 1800; easingin : easeInOutBack; easingout : easeInOutQuint; delayin : 1800; delayout : 0; showuntil : 0;">
					Enterprise Search</h1>
					<img class="ls-s4" alt=" " style="top: 0px; left: 400px; durationin : 1500; durationout: 1000; slidedirection : left; slideoutdirection : left; " src="images/slider/layer/4/full_man.png">
				</div>
				<!--/ .ls-layer-->
				<div class="ls-layer" style="background-color:#fafafa; slidedirection: bottom; slidedelay: 4500;">
					<img class="ls-s-1 " src="images/slider/layer/1/item-01.png" alt=" " style="position: absolute; top: 0px; left:440px; slidedirection : bottom;durationin : 1000; durationout : 1000; easingin : easeInSine; easingout : easeOutSine; delayin : 300; delayout : 0; showuntil : 0; ">
					<h1 class="ls-s-2 ls_large_text_01" style="position: absolute;  top:100px; left:70px; slidedirection : bottom; durationin : 1000; durationout : 1000; easingin : easeInOutBack; easingout : easeInOutQuint; delayin : 1000; delayout : 0; showuntil : 0;">
					Agile Development</h1>
					<h1 class="ls-s-2 ls_large_text_01" style="position: absolute; top:145px; left: 70px; slidedirection : bottom; durationin : 1300; durationout : 1300; easingin : easeInOutBack; easingout : easeInOutQuint; delayin : 1300; delayout : 0; showuntil : 0;">
					Cloud Based Services</h1>
					<h1 class="ls-s-2 ls_large_text_01" style="position: absolute; top:190px; left: 70px; slidedirection : bottom; durationin : 1500; durationout : 1500; easingin : easeInOutBack; easingout : easeInOutQuint; delayin : 1500; delayout : 0; showuntil : 0;">
					Continuous Integration</h1>
					<h1 class="ls-s-2 ls_large_text_01" style="position: absolute; top:235px; left: 70px; slidedirection : bottom; durationin : 1800; durationout : 1800; easingin : easeInOutBack; easingout : easeInOutQuint; delayin : 1800; delayout : 0; showuntil : 0;">
					Development/Support/Training</h1>
				</div>
				<div class="ls-layer" style="slidedirection: bottom; slidedelay: 4500;">
					<img src="images/slider/layer/2/bg.jpg" class="ls-bg" alt=" ">
					<h1 class="ls-s-2 ls_large_text_02" style="position: absolute; top:100px; left:70px; slidedirection : top; durationin : 1000; durationout : 1000; easingin : easeInOutBack; easingout : easeInOutQuint; delayin : 1000; delayout : 0; showuntil : 0;">
					Cloud Services Integration</h1>
					<h1 class="ls-s-2 ls_large_text_02" style="position: absolute; top:145px; left: 70px; slidedirection : top; durationin : 1300; durationout : 1300; easingin : easeInOutBack; easingout : easeInOutQuint; delayin : 1300; delayout : 0; showuntil : 0;">
					Salesforce / Service Now</h1>
					<h1 class="ls-s-2 ls_large_text_02" style="position: absolute; top:190px; left: 70px; slidedirection : top; durationin : 1500; durationout : 1500; easingin : easeInOutBack; easingout : easeInOutQuint; delayin : 1500; delayout : 0; showuntil : 0;">
					Liberate Legacy applications</h1>
					<img class="ls-s-1 " src="images/slider/layer/2/item-01.png" alt=" " style="position: absolute; top: 50px; left: 585px; durationin : 1000; durationout : 1000; easingin : easeInSine; easingout : easeOutSine; delayin : 300; delayout : 0; showuntil : 0; ">
				</div>
				<div class="ls-layer" style="slidedirection: bottom; slidedelay: 4500;">
					<img src="images/slider/layer/3/bg.jpg" class="ls-bg" alt=" ">
					<h1 class="ls-s-2 ls_large_text_01" style="position: absolute; top:100px; left:70px; slidedirection : bottom; durationin : 1000; durationout : 1000; easingin : easeInOutBack; easingout : easeInOutQuint; delayin : 1000; delayout : 0; showuntil : 0;">
					Database Applications</h1>
					<h1 class="ls-s-2 ls_large_text_02" style="position: absolute; top:145px; left: 70px; slidedirection : top; durationin : 1300; durationout : 1300; easingin : easeInOutBack; easingout : easeInOutQuint; delayin : 1300; delayout : 0; showuntil : 0;">
					Oracle / Mysql / Mariadb</h1>
					<h1 class="ls-s-2 ls_large_text_01" style="position: absolute; top:190px; left: 70px; slidedirection : bottom; durationin : 1500; durationout : 1500; easingin : easeInOutBack; easingout : easeInOutQuint; delayin : 1500; delayout : 0; showuntil : 0;">
					Business Insight Anaytics</h1>
					<h1 class="ls-s-2 ls_large_text_02" style="position: absolute; top:235px; left: 70px; slidedirection : top; durationin : 1800; durationout : 1800; easingin : easeInOutBack; easingout : easeInOutQuint; delayin : 1800; delayout : 0; showuntil : 0;">
					Custom Dashboards</h1>
					<img class="ls-s-1 " src="images/slider/layer/3/item-01.png" alt=" " style="position: absolute; top: 20px; left: 450px; durationin : 1000; durationout : 1000; easingin : easeInSine; easingout : easeOutSine; delayin : 300; delayout : 0; showuntil : 0; ">
				</div>
			</div><!--layer slider ends-->
			<div class="home-intro"><!--home intro starts-->
				<div class="container">
					<div class="three-fourth">
						<h4>Ricston your enterprise partner ready for Business.</h4>
					</div>
					<div class="one-fourth last">
						<a href="#" class="button color huge round">Contact us!</a>
					</div>
				</div>
			</div><!--home intro ends-->
			<div class="container">
				<div class="one-third"><!--block with icon starts-->
					<div class="img-holder">
						<i class="icon-desktop"></i>
					</div>
					<div class="feature-text">
						<h4>Java Development</h4>
						<p>
							 Integer libero lectus, porta acean pulvinar ac, facilisis non arcu. Maecenas enim orci, adipiscing dictum sit amet gusce dapibus.
						</p>
						<br/>
						<p>
							<a href="#" class="button color small round">About Us</a>
						</p>
					</div>
				</div><!--block with icon ends-->
				<div class="one-third"><!--block with icon starts-->
					<div class="img-holder">
						<i class="icon-envelope-alt"></i>
					</div>
					<div class="feature-text">
						<h4>Agile Work Practices</h4>
						<p>
							 Integer libero lectus, porta acean pulvinar ac, facilisis non arcu. Maecenas enim orci, adipiscing dictum sit amet gusce dapibus.
						</p>
						<br/>
						<p>
							<a href="#" class="button color small round">Our Services</a>
						</p>
					</div>
				</div><!--block with icon ends-->
				<div class="one-third last"><!--block with icon starts-->
					<div class="img-holder">
						<i class="icon-time"></i>
					</div>
					<div class="feature-text">
						<h4>Cost Reductions</h4>
						<p>
							 Integer libero lectus, porta acean pulvinar ac, facilisis non arcu. Maecenas enim orci, adipiscing dictum sit amet gusce dapibus.
						</p>
						<br/>
						<p>
							<a href="#" class="button color small round">Pricing Tables</a>
						</p>
					</div>
				</div><!--block with icon ends-->
			</div>
			<div class="latest-projects-wrapp">
				<div class="container">
					<div class="one-fourth">
						<h4>Our Recent Projects</h4>
						<p>
							 Integer libero lectus, porta acean pulvinar ac, facilisis non arcu. Maecenas enim orci, adipiscing dictum sit amet gusce dapibus.
						</p>
						<br/>
						<p>
							<a href="#" class="button color small round">Our Portfolio</a>
						</p>
					</div>
					<div class="three-fourth last">
						<div class="jcarousel-container "><!--project carousel starts-->
							<ul id="projects-carousel">
								<li>
								<div class="portfolio-item">
									<a href="images/portfolio/portfolio-item-1.jpg" class="portfolio-item-link" data-rel="prettyPhoto" >
									<span class="portfolio-item-hover"></span><img src="images/portfolio/portfolio-item-1.jpg" alt=" "/>
									</a>
									<div class="portfolio-item-title">
										<a href="single-project.html">Custom WordPress Theme</a>
										<p>
											 Design / Development
										</p>
									</div>
								</div>
								</li>
								<li>
								<div class="portfolio-item">
									<a href="images/portfolio/portfolio-item-2.jpg" class="portfolio-item-link" data-rel="prettyPhoto" >
									<span class="portfolio-item-hover"></span><img src="images/portfolio/portfolio-item-2.jpg" alt=" "/>
									</a>
									<div class="portfolio-item-title">
										<a href="single-project.html">T-Shirt Design</a>
										<p>
											 Design / Illustration
										</p>
									</div>
								</div>
								</li>
								<li>
								<div class="portfolio-item">
									<a href="images/portfolio/portfolio-item-3.jpg" class="portfolio-item-link" data-rel="prettyPhoto" >
									<span class="portfolio-item-hover"></span><img src="images/portfolio/portfolio-item-3.jpg" alt=" "/>
									</a>
									<div class="portfolio-item-title">
										<a href="single-project.html">Video Project</a>
										<p>
											 Video / Illustration
										</p>
									</div>
								</div>
								</li>
								<li>
								<div class="portfolio-item">
									<a href="images/portfolio/portfolio-item-4.jpg" class="portfolio-item-link" data-rel="prettyPhoto" >
									<span class="portfolio-item-hover"></span><img src="images/portfolio/portfolio-item-4.jpg" alt=" "/>
									</a>
									<div class="portfolio-item-title">
										<a href="single-project.html">Custom PHP CMS</a>
										<p>
											 Development
										</p>
									</div>
								</div>
								</li>
								<li>
								<div class="portfolio-item">
									<a href="images/portfolio/portfolio-item-5.jpg" class="portfolio-item-link" data-rel="prettyPhoto" >
									<span class="portfolio-item-hover"></span><img src="images/portfolio/portfolio-item-5.jpg" alt=" "/>
									</a>
									<div class="portfolio-item-title">
										<a href="single-project.html">Joomla Templates</a>
										<p>
											 Design / Development
										</p>
									</div>
								</div>
								</li>
								<li>
								<div class="portfolio-item">
									<a href="images/portfolio/portfolio-item-6.jpg" class="portfolio-item-link" data-rel="prettyPhoto" >
									<span class="portfolio-item-hover"></span><img src="images/portfolio/portfolio-item-6.jpg" alt=" "/>
									</a>
									<div class="portfolio-item-title">
										<a href="single-project.html">Font Design</a>
										<p>
											 Typography / Design
										</p>
									</div>
								</div>
								</li>
							</ul>
						</div><!--project carousel ends-->
					</div>
				</div>
			</div>
			<div class="container">
				<ul class="clients-grid one-fifth clients"><!--clients list starts -->
						<li><a href="#"><img src="images/clients/client-1.png" alt=""/></a></li>
						<li><a href="#"><img src="images/clients/client-2.png" alt=""/></a></li>
						<li><a href="#"><img src="images/clients/client-3.png" alt=""/></a></li>
						<li><a href="#"><img src="images/clients/client-4.png" alt=""/></a></li>
						<li><a href="#"><img src="images/clients/client-5.png" alt=""/></a></li>

					</ul><!--clients list ends -->
			</div>
			<footer id="footer"><!-- footer starts-->
			<div class="container">
				<div class="one-fourth">
					<!-- footer text widget starts-->
					<p>
						<img src="images/logo-footer.png" alt=""/>
					</p>
					<p>
						Integer libero lectus, porta acean pulvinar ac, facilisis non arcu. Maecenas enim orci, adipiscing dictum sit amet gusce dapibus.
					</p>
					<p>
						Maecenas enim orci, adipiscing dictum sit amet gusce dapibus.
					</p>
					<!-- footer text widget ends-->
				</div>
				<div class="one-fourth">
					<h4>Latest Tweets</h4>
					<ul id="twitter"><!-- twitter widget starts--> 
					</ul><!-- twitter widget ends-->
					<p>
						<a href="#">Follow Me on Twitter</a>
					</p>
				</div>
				<div class="one-fourth">
					<h4>Latest Posts</h4>
					<ul><!-- latest posts widget starts-->
						<li><a href="blog-post.html">Free Responsive HTML5 Template.</a></li>
						<li><a href="blog-post.html">PSD Widget UI Free Download</a></li>
						<li><a href="blog-post.html">Free Business Bootsrap Template</a></li>
						<li><a href="blog-post.html">Custom WordPress Themes</a></li>
					</ul><!-- lastest posts widget ends-->
				</div>
				<div class="one-fourth last">
					<h4>Flickr Photos</h4>
					<div class="flickr-widget"><!-- flickr widget starts-->
					</div><!--flickr widget ends-->
				</div>
			</div>
			</footer><!--footer ends -->
			<div id="copyrights"><!-- copyrights starts-->
				<div class="container">
					<div class="one-half">
						<p>
							&copy; Copyright 2013 <a href="index.html">BusinessBox</a>. Made by <a href="#">trendyWebStar</a>
						</p>
					</div>
					<div class="one-half last">
						<ul class="social-icons footer"><!-- social links starts-->
							<li><a href="#"><i class="icon-social-twitter"></i></a></li>
							<li><a href="#"><i class="icon-social-facebook"></i></a></li>
							<li><a href="#"><i class="icon-social-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-social-gplus"></i></a></li>
							<li><a href="#"><i class="icon-social-skype"></i></a></li>
							<li><a href="#"><i class="icon-social-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-social-pinterest"></i></a></li>
						</ul><!-- social links ends-->
					</div>
				</div>
			</div><!-- copyrights ends -->
		</div><!-- main content starts-->
	</div> <!-- main wrapp starts-->
</div><!-- main container ends-->
<div id="switcher-handle">
	<a class="" id="handle" href="#">feedback</a>
	<div id="style-switcher">
		<div id="switcher-header">
			<p>
				Theme's Options
			</p>
		</div>
		<div id="switcher-body">

			<p>
				<strong>Layout Style</strong>
			</p>
		<select id="layout">
		   
		  <option value="boxed">Boxed</option>
		  <option value="wide">Wide</option>
		  
		</select>
					 
			<p>
				<strong>Color Versions</strong>
			</p>
			<div class="colors-holder">
				<a href="#" class="color-box" data-rel="e33000"></a>
				<a href="#" class="color-box" data-rel="bf0101"></a>
				<a href="#" class="color-box" data-rel="73b819"></a>
				<a href="#" class="color-box" data-rel="ef013f"></a>
				<a href="#" class="color-box" data-rel="4080bc"></a>
				<a href="#" class="color-box" data-rel="fcaf17"></a>
				<a href="#" class="color-box" data-rel="9adada"></a>
				<a href="#" class="color-box" data-rel="04d095"></a>
				<a href="#" class="color-box" data-rel="fb4639"></a>
				<a href="#" class="color-box" data-rel="8d6cd1"></a>
				<a href="#" class="color-box" data-rel="fe5b42"></a>
				<a href="#" class="color-box" data-rel="76d17f"></a>
				<a href="#" class="color-box" data-rel="10cafd"></a>
				<a href="#" class="color-box" data-rel="fe6b34"></a>
				<a href="#" class="color-box" data-rel="fed208"></a>
				<a href="#" class="color-box" data-rel="2655c4"></a>
				<a href="#" class="color-box" data-rel="f20505"></a>
				<a href="#" class="color-box" data-rel="1b3c59"></a>
				<a href="#" class="color-box" data-rel="fc4349"></a>
				<a href="#" class="color-box" data-rel="1bddf2"></a>
				<a href="#" class="color-box" data-rel="8c7b74"></a>
				<a href="#" class="color-box" data-rel="08afc7"></a>
				<a href="#" class="color-box" data-rel="5883b0"></a>
				<a href="#" class="color-box" data-rel="c7d93d"></a>
				<a href="#" class="color-box" data-rel="ff46a3"></a>
				<a href="#" class="color-box" data-rel="fdab55"></a>
				<a href="#" class="color-box" data-rel="616c6e"></a>
				<a href="#" class="color-box" data-rel="c6dee8"></a>
				<a href="#" class="color-box" data-rel="5c002f"></a>
				<a href="#" class="color-box" data-rel="a63d17"></a>
				<a href="#" class="color-box" data-rel="92c924"></a>
				<a href="#" class="color-box" data-rel="f2d95c"></a>
				<a href="#" class="color-box" data-rel="bfaf80"></a>
				<a href="#" class="color-box" data-rel="7ea1bf"></a>
				<a href="#" class="color-box" data-rel="f2eeb3"></a>
				<a href="#" class="color-box" data-rel="fb5f81"></a>
				<a href="#" class="color-box" data-rel="d8d8d8"></a>
				<a href="#" class="color-box" data-rel="2d2d3f"></a>
				<a href="#" class="color-box" data-rel="015078"></a>
				<a href="#" class="color-box" data-rel="7972a6"></a>
			</div>
			<div class="switcher-divider">
			</div>
			<p>
				<strong>Background Custom Color</strong>
			</p>
			<div id="colorpicker">
				Background Color Picker
			</div>
			<div class="switcher-divider">
			</div>
			<div id="changeFont">
				<p>
					<strong>Body Font Size</strong>
				</p>
				<a href="#" class="increaseFont"></a>
				<a href="#" class="decreaseFont"></a>
				<a href="#" class="resetFont"></a>
			</div>
			<div id="changeFontHeadings">
				<p>
					<strong>Headings Font Size</strong>
				</p>
				<a href="#" class="increaseFontHeade"></a>
				<a href="#" class="decreaseFontHeader"></a>
				<a href="#" class="resetFontHeader"></a>
			</div>
			<div class="switcher-divider">
			</div>
			<p>
				<strong>Background Body Patterns</strong>
			</p>
			<div class="colors-holder">
				<a data-rel="body-bg-1" class="bg-box" href="#"></a>
				<a data-rel="body-bg-2" class="bg-box" href="#"></a>
				<a data-rel="body-bg-3" class="bg-box" href="#"></a>
				<a data-rel="body-bg-4" class="bg-box" href="#"></a>
				<a data-rel="body-bg-5" class="bg-box" href="#"></a>
				<a data-rel="body-bg-6" class="bg-box" href="#"></a>
				<a data-rel="body-bg-7" class="bg-box" href="#"></a>
				<a data-rel="body-bg-8" class="bg-box" href="#"></a>
				<a data-rel="body-bg-9" class="bg-box" href="#"></a>
				<a data-rel="body-bg-10" class="bg-box" href="#"></a>
				<a data-rel="body-bg-11" class="bg-box" href="#"></a>
				<a data-rel="body-bg-12" class="bg-box" href="#"></a>
				<a data-rel="body-bg-13" class="bg-box" href="#"></a>
				<a data-rel="body-bg-14" class="bg-box" href="#"></a>
				<a data-rel="body-bg-15" class="bg-box" href="#"></a>
				<a data-rel="body-bg-16" class="bg-box" href="#"></a>
				<a data-rel="body-bg-17" class="bg-box" href="#"></a>
				<a data-rel="body-bg-18" class="bg-box" href="#"></a>
				<a data-rel="body-bg-19" class="bg-box" href="#"></a>
				<a data-rel="body-bg-20" class="bg-box" href="#"></a>
				<a data-rel="body-bg-21" class="bg-box" href="#"></a>
				<a data-rel="body-bg-22" class="bg-box" href="#"></a>
				<a data-rel="body-bg-23" class="bg-box" href="#"></a>
				<a data-rel="body-bg-24" class="bg-box" href="#"></a>
				<a data-rel="body-bg-25" class="bg-box" href="#"></a>
				<a data-rel="body-bg-26" class="bg-box" href="#"></a>
				<a data-rel="body-bg-27" class="bg-box" href="#"></a>
				<a data-rel="body-bg-28" class="bg-box" href="#"></a>
				<a data-rel="body-bg-29" class="bg-box" href="#"></a>
				<a data-rel="body-bg-30" class="bg-box" href="#"></a>
				<a data-rel="body-bg-31" class="bg-box" href="#"></a>
				<a data-rel="body-bg-32" class="bg-box" href="#"></a>
				<a data-rel="body-bg-33" class="bg-box" href="#"></a>
				<a data-rel="body-bg-34" class="bg-box" href="#"></a>
				<a data-rel="body-bg-35" class="bg-box" href="#"></a>
				<a data-rel="body-bg-36" class="bg-box" href="#"></a>
				<a data-rel="body-bg-37" class="bg-box" href="#"></a>
				<a data-rel="body-bg-38" class="bg-box" href="#"></a>
				<a data-rel="body-bg-39" class="bg-box" href="#"></a>
				<a data-rel="body-bg-40" class="bg-box" href="#"></a>
				<a data-rel="body-bg-41" class="bg-box" href="#"></a>
				<a data-rel="body-bg-42" class="bg-box" href="#"></a>
				<a data-rel="body-bg-43" class="bg-box" href="#"></a>
				<a data-rel="body-bg-44" class="bg-box" href="#"></a>
				<a data-rel="body-bg-45" class="bg-box" href="#"></a>
				<a data-rel="body-bg-46" class="bg-box" href="#"></a>
				<a data-rel="body-bg-47" class="bg-box" href="#"></a>
				<a data-rel="body-bg-48" class="bg-box" href="#"></a>
			</div>
		</div>
		<div id="switcher-footer">
			<p>
				<a href="http://themeforest.net/user/trendyWebStar/portfolio" target="_blank" class="button color small round">Our Themeforest Items</a>
			</p>
		</div>
	</div>
</div>
</body>
</html>